@font-face {
  font-family: "Glitch";
  src: url("/fonts/Glitch.ttf");
}

@font-face {
  font-family: "RainyDays";
  src: url("/fonts/RainyDays.ttf") format("truetype");
}

@font-face {
  font-family: "Hando";
  src: url("/fonts/Hando.otf") format("opentype");
}

@font-face {
  font-family: "HandoSlant";
  src: url("/fonts/HandoSlant.otf") format("opentype");
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(114, 109, 109, 0.3);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100vw - 5rem);
  max-height: calc(100vh - 10rem);
  min-width: calc(100vw - 5rem);
  min-height: calc(100vh - 7rem);
  height: auto;
}

.containerTop {
  background-color: rgba(114, 109, 109, 0.3);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.9);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100vw - 5rem);
  max-height: calc(100vh - 0rem);
  min-width: calc(100vw - 5rem);
  min-height: calc(100vh - 30rem);
  height: auto;
}

.kade__image {
  max-width: calc(100vw - 10rem);
  min-width: calc(100vw - 100rem);
  max-height: calc(100vh - 0rem);
  min-height: calc(100vh - 40rem);
  border-radius: 50%;
}

.title {
  font-family: "HandoSlant";
  font-size: 4.5rem;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(208, 51, 51, 0.9);
}

.subtitle {
  font-family: "Hando";
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
}
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  text-align: center;
  max-width: calc(100vw - 5rem);
  max-height: calc(100vh - 10rem);
  min-width: calc(100vw - 5rem);
  min-height: calc(100vh - 7rem);
  height: auto;
}

.aboutme__title {
  font-family: "Hando";
  font-size: calc(2.5rem + 1vw);
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  background-color: rgba(44, 41, 41, 0.3);
  width: fit-content;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
}

.aboutme__text {
  font-family: "Hando";
  font-size: clamp(1.5rem, 1.5rem + 1vw, 3rem);
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  word-wrap: break-word;
  margin-left: clamp(3rem, 3rem + 1vw, 3rem);
  margin-right: clamp(3rem, 3rem + 1vw, 3rem);
}

.kade {
  font-family: "Hando";
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  word-wrap: break-word;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  text-align: center;
  max-width: calc(100vw - 5rem);
  max-height: calc(100vh - 10rem);
  min-width: calc(100vw - 5rem);
  min-height: calc(100vh - 7rem);
  height: auto;
}

.kade h1 {
  font-size: calc(2.5rem + 1vw);
  background-color: rgba(44, 41, 41, 0.3);
  width: fit-content;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
}

.kade p {
  font-size: 1.5rem;
}

.quote {
  max-width: 90%;
  min-width: 30%;
}

.button {
  font-family: "Hando";
  background-color: #306bec;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  background-color: #2164ea;
  cursor: pointer;
  scale: 1.1;
}

.contactForm__title {
  font-family: "Hando";
  font-size: calc(2.5rem + 1vw);
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  background-color: rgba(44, 41, 41, 0.3);
  width: fit-content;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
}

.contactForm {
  font-family: "Hando";
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  word-wrap: break-word;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  text-align: center;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  height: auto;
}

.contactFormWhole {
  font-family: "Hando", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  word-wrap: break-word;
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.socials__image {
  width: calc(60px + 1vw);
  height: calc(60px + 1vw);
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease-in-out;
  background-color: rgb(30, 116, 255);
  margin: 0.5rem;
}

.socials__image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.buttonSend {
  font-family: "Hando";
  background-color: #306bec;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.contactSocials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  height: auto;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
}

.containerContact {
  background-color: rgba(114, 109, 109, 0.3);
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100vw - 5rem);
  min-width: calc(100vw - 5rem);
  height: auto;
}

.myProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  height: auto;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  font-family: "Hando", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
}

.myProjects__title {
  font-family: "Hando";
  font-size: calc(2.5rem + 1vw);
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  background-color: rgba(44, 41, 41, 0.3);
  width: fit-content;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
}

.myProjects__project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  height: auto;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
  font-family: "Hando", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
}

.myProjects a {
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(255, 3, 3, 0.9);
  transition: all 0.2s ease-in-out;

  font-size: calc(1rem + 1vw);
}

.myProjects p {
  font-size: calc(1rem + 1vw);
}

.myProjects a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.contactForm__header {
  font-family: "Hando";
  font-size: calc(2.5rem + 1vw);
  font-weight: 400;
  color: #ffffff;
  text-shadow: -2px 0px 1px rgba(3, 87, 255, 0.9);
  background-color: rgba(44, 41, 41, 0.3);
  width: fit-content;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.8);
}
