@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

.description {
  font-family: "Paytone One", sans-serif;
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.9;
  text-shadow: 0 0 10px #000;
}

.headerbar {
  background-color: rgb(1, 80, 184);
  width: 100%;
  margin: 0% 0% 0% 0%;
  height: auto;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000;
}

.aboutHeader {
  font-family: "Paytone One", sans-serif;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 15vh;
}

.aboutTextBlurb {
  font-family: "Paytone One", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  margin: 10vh 0% 0% 0%;
  padding: 0;
  line-height: 1.5;
  text-shadow: 0 0 10px #000;
}

.space {
  font-size: 24vw;
  margin-top: -10%;
  font-family: "Paytone One", sans-serif;
  margin-left: 15%;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
}

.aboutOnTheWeb {
  margin-top: -25%;
  font-family: "Paytone One", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #000;
}

.about {
  margin-top: 8vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.fadeIn {
  animation-name: opacityIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

@keyframes opacityIn {
  0% {
    opacity: 0;
    scale: 0.9;
  }

  50% {
    opacity: 0.5;
    scale: 1.1;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.float {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

  @keyframes float{
    0%{
      transform:translatey(0px);
    }
    50%{
      transform:translatey(-10px);
    }
    100%{
      transform:translatey(0px);
    }
  }

  .aboutText{
    font-family: "Paytone One", sans-serif;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-shadow: 0 0 10px #000;
  }

@media screen and (min-width: 601px) {
  .kadeimage {
    border-radius: 10px;
    width: 27em;
    height: 30em;
    margin-left: 67%;
    margin-top: -17%;
    box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.3);
    will-change: transform;
  } 


  .educationTitle{
    text-decoration: underline;
    text-underline-position: under;
  }
  
  .education {
      margin-top: -36%;
      margin-left: 35.2%;
      font-size: 1.2vw;
      text-shadow: 0 0 10px #000;
      border: #fff solid 5px;
      width: 30%;
      border-radius: 10px;
      height: auto;
    }

    .educationText{
      list-style-type: none;
    }

    .projectsTitle{
      text-decoration: underline;
      text-underline-position: under;
    }
    
    .projects {
        margin-top: -10.7%;
        margin-left: 69%;
        font-size: 1.67vw;
        text-shadow: 0 0 10px #000;
        border: #fff solid 5px;
        width: 30%;
        border-radius: 10px;
        height: auto;
      }
  
      .projectsText{
        list-style-type: none;
      }

      .contactTitle{
        text-decoration: underline;
        text-underline-position: under;
      }
      
      .contact {
          margin-top: -30.4%;
          margin-left: 69%;
          font-size: 1.67vw;
          text-shadow: 0 0 10px #000;
          border: #fff solid 5px;
          width: 30%;
          border-radius: 10px;
          padding-bottom: 5%;
          height: auto;
        }
    
        .contactText{
          list-style-type: none;
        }

  .aboutPage {
    color: #fff;
    font-family: "Paytone One", sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    columns: 3;
    will-change: transform;
    height: 100vh;

  }

  .aboutus {
    font-size: 3vw;
    margin-left: -68%;
    text-shadow: 0 0 5px #000;
  }

  .aboutblurb {
    width: 20%;
    font-size: 2.5vw;
    margin-left: 6.3%;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    text-shadow: 0 0 10px #000;
  }

  .contactPage {
    margin-top: -150vh;
  }
}

@media screen and (max-width: 600px) {
  .kadeimage {
    border-radius: 10px;
    width: 78%;
    height: 43vh;
    will-change: transform;
  }

  .aboutPage {
    color: #fff;
    font-family: "Paytone One", sans-serif;
    text-align: center;
    margin-top: 40%;
    will-change: transform;
  }
}
